@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  position: sticky;
  top: 0;
  background: white;
  height: 90px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 5px 5px 0px;
}

nav{
  font-size: 13px;
  padding-top: 14px;
}

.left img
{
  width : 55px;
  height : 38px;
  margin: 0 20px 0 0;
}

.container{
  padding: 0 40px;
  height: 110px;
}

li{
  list-style: none;
}
nav ul li{
  list-style: none;
  padding: 0 12px;
}

.section1{
  background: #ffffff;
}
.section2{
  background: #ffffff;
  margin: 0 10vw 0;
}
.section3{
  background: #ffffff;
  margin: 0 15vw 0;
}
.search{
  width: 30vw;
  padding: 7px 17px;
  margin-right: 18px;
  background: #f7f8fd;
  border: 0.5px solid grey;
  border-radius: 5px;
}

.homeImg{
  width: 98vw;
  margin: 40px 0;
}

.itemImg1{
  width: 12.35vw;
  height: 18vw;
}
.itemImg2{
  width: 13.7vw;
  height: 18vw;
  margin: 3px;
}
.itemImg3{
  width: 14.1vw;
  height: 16.5vw;
  margin: 0 0 15px;
}
footer{
  padding: 15px;
  text-align: center;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.rightBox{
    display: flex;
    margin: 9px;
    width: 10vw;
    height: 42px;
  }
.profile{
  margin: 0 10px;
}

@media (max-width: 750px){
  .profile {
    margin: 0 5px;
  }
  .search {
    width: 50vw;
    margin-right: 12px;
    margin-left: -20px;
  }
  .rightBox {
    display: flex;
    margin: 5px;
    height: 30px;
  }
  header {
    height: 100px;
  }
}
@media (max-width: 1200px){
  
  .left img
  {
    width : 32px;
    height : 23px;
    margin: 0;
  } 
  nav ul li{
    list-style: none;
    padding: 0 4px;
    font-size: 8px;
  }
  .container{
    padding: 0 10px;
  }
  header{
    height: 122px;
  }
  nav{
    flex-direction: column;
    align-items: center;
  }
  .search {
    width: 50vw;
    margin-right: 50px;
  }
}